@import "Mixins.scss";

.support {
  max-width: 625px;
  margin: auto;
  min-height: 100vh;
  @include max-screen(1025px) {
    height: 100vh;
    margin-top: 12%;
    position: relative;
    display: block;
  }
  @include max-screen-height(1100px) {
    height: 100%;
  }
  @include max-screen-height(500px) {
    height: 100%;
  }
  @include max-screen(570px) {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    padding: 0 10px;
  }

  .support__title {
    margin-top: 50px;
    color: $color;
    text-align: center;
    margin-bottom: 30px;

    h1 {
      font-size: 80px;
      font-family: 'Damion', cursive;

    }

    p {
      font-size: 20px;
      font-family: $font_roboto;
    }
  }

  .support__form {
    @include max-screen(570px) {
      margin: auto;
      width: 100%;

    }

    input {
      width: 300px;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid $color;
      background: none;
      outline: none;
      margin-top: 20px;
      font-family: $font_roboto;
      font-size: 17px;
      color: $color;
      @include max-screen(550px) {
        width: 100%;

      }
    }

    label {
      font-size: 25px;
      margin-top: 23px;
      margin-right: 40px;
      color: $color;
      font-family: $font_roboto;
      @include max-screen(550px) {
        margin-right: 0;

      }
    }

    .form__name-human {
      display: flex;
      justify-content: center;
      @include max-screen(550px) {
        flex-wrap: wrap;

      }
    }

    .form__email-human {
      display: flex;
      justify-content: center;
      @include max-screen(550px) {
        flex-wrap: wrap;

      }
    }

    .form__complaint {
      margin: 30px auto;
      display: block;
      @include max-screen(550px) {

        display: flex;
        margin: 40px auto;

      }

      .form__textarea {
        margin: auto;
        display: block;
        width: 400px;
        resize: none;
        background: none;
        height: 200px;
        border-radius: 10px;
        border: 1px solid $color;
        outline: none;
        padding: 10px;
        color: $color;
        font-family: $font_roboto;
        font-size: 17px;
        @include max-screen(550px) {
          width: 100%;

        }
      }
    }

    .form__suport__btn {
      margin: 0 auto 50px auto;
      display: block;
      width: 195px;
      padding: 12px;
      border: 1px solid $color;
      border-radius: 10px;
      background: none;
      color: $color;
      font-family: $font_roboto;
      font-size: 20px;
      cursor: pointer;
      transition: all linear 0.5s;
      -webkit-transition: all linear 0.5s;
      -moz-transition: all linear 0.5s;
      -o-transition: all linear 0.5s;

    }

    .form__suport__btn:hover {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      background-color: #5f0049;
      color: #FFFFFF;
    }
  }
}